:root {
  --primary-darker: 209, 100%, 20%;
  --primary-dark: 209, 80%, 35%;
  --primary: 209, 100%, 55%;
  --primary-light: 209, 100%, 70%;
  --primary-lighter: 209, 65%, 85%;
  --accent-darker: 11, 100%, 20%;
  --accent-dark: 11, 100%, 35%;
  --accent: 11, 100%, 38%;
  --accent-light: 11, 100%, 70%;
  --accent-lighter: 11, 100%, 85%;
  --bg-700: 0, 0%, 98%;
  --bg-600: 0, 0%, 90%;
  --bg-500: 0, 0%, 85%;
  --bg-400: 0, 0%, 80%;
  --bg-300: 0, 0%, 70%;
  --bg-200: 0, 0%, 70%;
  --font-700: 0, 0%, 7%;
  --font-600: 0, 0%, 14%;
  --font-500: 0, 0%, 28%;
  --font-400: 0, 0%, 42%;
  --font-300: 0, 0%, 56%;
  --red-700: 359, 69%, 74%;
  --red-500: 358, 65%, 49%;
  --red-300: 0, 100%, 99%;
  --green-700: 146, 38%, 69%;
  --green-500: 153, 67%, 28%;
  --green-300: 138, 63%, 97%;
  --orange-700: 24, 100%, 34%;
  --orange-500: 24, 100%, 35%;
  --orange-300: 24, 83%, 98%;
  --blue-700: 203, 78%, 77%;
  --blue-500: 211, 100%, 43%;
  --blue-300: 210, 100%, 98%;
  --font-IBM-Plex: "IBM Plex Sans", sans-serif;
  --shadow-color: 210, 17%, 98%;
  --pure-white: #fff;
  --pure-black: #000;
}

.dark-mode {
  --primary-darker: 209, 100%, 20%;
  --primary-dark: 209, 80%, 35%;
  --primary: 209, 100%, 55%;
  --primary-light: 209, 100%, 70%;
  --primary-lighter: 209, 65%, 85%;
  --accent-darker: 11, 100%, 20%;
  --accent-dark: 11, 100%, 35%;
  --accent: 11, 91%, 42%;
  --accent-light: 11, 100%, 70%;
  --accent-lighter: 11, 100%, 85%;
  --font-700: 0, 0%, 98%;
  --font-600: 0, 0%, 90%;
  --font-500: 0, 0%, 85%;
  --font-400: 0, 0%, 80%;
  --font-300: 0, 0%, 70%;
  --bg-700: 222, 16%, 12%;
  --bg-600: 222, 16%, 18%;
  --bg-500: 222, 16%, 24%;
  --bg-400: 222, 16%, 32%;
  --bg-300: 222, 16%, 36%;
  --bg-200: 222, 16%, 42%;
  --red-700: 357, 60%, 32%;
  --red-500: 358, 86%, 64%;
  --red-300: 357, 43%, 16%;
  --green-700: 151, 52%, 28%;
  --green-500: 151, 50%, 53%;
  --green-300: 155, 46%, 11%;
  --orange-700: 24, 92%, 24%;
  --orange-500: 24, 100%, 62%;
  --orange-300: 28, 100%, 8%;
  --blue-700: 211, 86%, 27%;
  --blue-500: 210, 100%, 66%;
  --blue-300: 216, 50%, 12%;
  --shadow-color: 195, 7%, 11%;
  --font-IBM-Plex: "IBM Plex Sans", sans-serif;
  --pure-white: #fff;
  --pure-black: #000;
}
