:root {
	--primary: hsl(208, 80%, 55%);
	--primary-light: hsl(208, 100%, 70%);
	--primary-lighter: hsl(208, 100%, 85%);
	--bg-700: hsl(0, 0%, 98%);
	--bg-600: hsl(0, 0%, 90%);
	--bg-500: hsl(0, 0%, 85%);
	--bg-400: hsl(0, 0%, 80%);
	--bg-200: hsl(0, 0%, 70%);
	--font-700: hsl(0, 0%, 4%);
	--font-600: hsl(0, 0%, 14%);
	--font-500: hsl(0, 0%, 28%);
	--font-400: hsl(0, 0%, 42%);
	--font-300: hsl(0, 0%, 56%);
	--red-700: hsl(0, 100%, 42%);
	--red-500: hsl(0, 100%, 65%);
	--red-300: hsl(0, 100%, 95%);
	--green-700: hsl(108, 72%, 30%);
	--green-500: hsl(108, 100%, 65%);
	--green-300: hsl(108, 100%, 95%);
	--orange-700: hsl(34, 100%, 30%);
	--orange-500: hsl(34, 100%, 65%);
	--orange-300: hsl(34, 100%, 95%);
	--blue-700: hsl(205, 100%, 35%);
	--blue-500: hsl(205, 100%, 65%);
	--blue-300: hsl(205, 100%, 95%);
}
