@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Noto+Sans:wght@400;700&display=swap");

/* importing css from other files */

@import url("./colors.css");
@import url("./layout.css");
@import url("./lists.css");
@import url("./links.css");
@import url("./text.css");
@import url("./components/index.css");

/* CSS Resets begin here */

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: var(--bg-700);
	font-family: "Lato", sans-serif;
	color: var(--font-600);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	scroll-snap-type: y mandatory;
	line-height: 1.5;
}

button,
input {
	font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

footer {
	margin-top: auto;
	border-top: 1px solid var(--bg-400);
	padding: 0 2rem;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

/* Header styles */
header {
	background-color: var(--bg-700);
	border-bottom: 1px solid var(--bg-400);
	position: sticky;
	top: 0;
	backdrop-filter: blur(0.75rem);
	z-index: 9;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.logo {
	color: var(--primary);
}

.navlist {
	display: flex;
	margin: 0;
	list-style: none;
	font-size: 1.2rem;
}

.navlist-item {
	padding-right: 0.5rem;
}

nav a:hover {
	color: var(--primary);
}

/* styling for hero section */

.container {
	width: 90vw;
	max-width: 60em;
	margin: 0 auto;
}

.hero {
	padding: 2rem 0;
}

.hero h1 {
	font-size: 3.6rem;
}

section > div {
	min-height: 30vh;
}

div > h3 {
	scroll-margin-top: 2.5rem;
}

div h4 {
	scroll-margin-top: 2.5rem;
}

.stick-top {
	position: sticky;
	top: 3.5rem;
	background-color: var(--bg-700);
	z-index: 8;
}
