@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&display=swap");
@import url("./color-palette.css");
@import url("./components/index.css");
@import url("./reset.css");

/* color palette */

body {
  margin: 0;
  background-color: hsl(var(--bg-700));
  font-family: var(--font-IBM-Plex);
  color: hsl(var(--font-600));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.body::-webkit-scrollbar {
  width: 0.5rem;
}

.body::-webkit-scrollbar-track {
  background: hsla(var(--accent), 0.2);
}

.body::-webkit-scrollbar-thumb {
  background: hsla(var(--accent), 0.7);
  background-clip: content-box;
  border-radius: 100vw;
}

.body::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--accent-dark));
}

.i-footer {
  margin-top: auto;
  padding: 1rem 2rem;
  box-shadow: 0 0 2px hsl(var(--bg-400));
}

/* Header styles */

.i-header {
  background-color: hsl(var(--bg-700));
  color: hsl(var(--primary));
  padding: 1rem 0;
  position: sticky;
  top: 0;
  box-shadow: 0 0 2px hsl(var(--bg-400));
  z-index: 9;
}

.i-header .header-logo {
  letter-spacing: -2px;
}

.i-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.i-header.i-logo {
  font-size: 2rem;
}

.i-logo {
  color: hsl(var(--primary));
  padding: 0;
  letter-spacing: -2px;
}

.header-logo {
  font-size: 2.4rem;
  font-weight: 700;
}

.header-logo fas {
  font-weight: 500;
}

.i-navlist {
  display: flex;
  margin: 0;
  list-style: none;
  font-size: 1.2rem;
}

.i-nav-item {
  display: flex;
  align-items: center;
}

.btnToggle {
  border-radius: 0.25rem;
  border: 1px solid hsl(var(--bg-400));
  background: transparent;
  padding: 0.5rem;
  color: hsl(var(--font-700));
}

.btnToggle:hover {
  background: hsla(var(--bg-400), 0.15);
}

.btnToggle:active {
  background: hsla(var(--bg-400), 0.35);
}

.i-navlist-item {
  margin-left: auto;
  padding-right: 1rem;
  font-weight: 600;
  letter-spacing: -0.09rem;
  transition: 0.3s color linear;
}

.i-container {
  width: 90vw;
  max-width: 80rem;
  margin: 0 auto;
}

.i-hero {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-hero h1 {
  font-size: 3.6rem;
  padding: 0.5rem 0;
}

.i-hero h2 {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.no-margin {
  margin: 0;
}

.i-sidebar-btn {
  outline: 1px solid transparent;
  outline-offset: 2px;
  cursor: pointer;
  border: none;
  background: hsl(var(--bg-700));
  font-size: 1rem;
  margin: 0.75rem 0 0;
  border-bottom: 1px solid hsl(var(--font-600));
  color: inherit;
}

.i-sidebar-btn i {
  margin-left: 1rem;
}

.stick-top {
  position: sticky;
  top: 3.25rem;
  background-color: hsl(var(--bg-700));
  z-index: 8;
}

.component-example {
  background-color: hsla(var(--primary-lighter), 0.19);
  border: 1px solid hsla(var(--primary), 0.76);
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
}

.component-list {
  background-color: hsl(var(--bg-700));
  height: 0rem;
  position: sticky;
  top: 5.6rem;
  margin-top: 0.75rem;
  scroll-padding-top: 6rem;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s linear;
}

.component-list::-webkit-scrollbar {
  width: 0.25rem;
}

.component-list::-webkit-scrollbar-track {
  background: hsla(var(--accent), 0.2);
}

.component-list::-webkit-scrollbar-thumb {
  background: hsla(var(--accent), 0.7);
}

.component-list::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--accent-dark));
}

.component-section {
  display: grid;
  grid-template-columns: 1fr;
  /* transition: 0.4s all linear; */
}

.component-description {
  padding: 1rem 0;
}

.code-example {
  margin: 1rem 0;
  max-width: 90vw;
}

.inline-code {
  background-color: hsla(var(--primary-dark), 0.9);
  color: var(--pure-white);
  padding: 0.2rem;
  border-radius: 0.25rem;
}

/* https://alexhooley.com/html-code-blocks-responsive/ */

pre {
  font: 400 0.8125em/1.4375, "Menlo", "Consolas", "DejaVu Sans Mono" monospace;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 – Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

pre code.hljs {
  padding: 1rem;
}

article {
  display: flex;
  flex-direction: column;
}

.navigation-footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  color: hsl(var(--accent));
}

@media screen and (min-width: 48em) {
  .component-section {
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
  }

  .component-list {
    background-color: inherit;
    margin-top: 1.5rem;
    scroll-padding-top: 5.6rem;
    overflow-y: auto;
    height: calc(100vh - 9rem);
  }

  .i-sidebar-btn {
    display: none;
  }
}
