.alert {
  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
}

.alert-info {
  background-color: hsl(var(--blue-300));
  border: 1px solid hsl(var(--blue-500));
  color: hsl(var(--blue-700));
}

.alert-success {
  background-color: hsl(var(--green-300));
  border: 1px solid hsl(var(--green-500));
  color: hsl(var(--green-700));
}

.alert-error {
  border: 1px solid hsl(var(--red-500));
  background-color: hsl(var(--red-300));
  color: hsl(var(--red-700));
}

.alert-warning {
  border: 1px solid hsl(var(--orange-500));
  background-color: hsl(var(--orange-300));
  color: hsl(var(--orange-700));
}

.alert-outline-success {
  color: hsl(var(--green-700));
  border: 1px solid hsl(var(--green-500));
  background-color: hsl(var(--bg-700));
}

.alert-outline-info {
  color: hsl(var(--blue-700));
  border: 1px solid hsl(var(--blue-500));
  background-color: hsl(var(--bg-700));
}

.alert-outline-error {
  color: hsl(var(--red-700));
  border: 1px solid hsl(var(--red-500));
  background-color: hsl(var(--bg-700));
}

.alert-outline-warning {
  color: hsl(var(--orange-700));
  border: 1px solid hsl(var(--orange-500));
  background-color: hsl(var(--bg-700));
}
