@import url("../colors.css");

.alert {
	padding: 0.75rem;
	border-radius: 0.5rem;
}

.alert-info {
	background-color: var(--blue-300);
	color: var(--blue-700);
}

.alert-success {
	background-color: var(--green-300);
	color: var(--green-700);
}

.alert-error {
	background-color: var(--red-300);
	color: var(--red-700);
}

.alert-warning {
	background-color: var(--orange-300);
	color: var(--orange-700);
}
