.badge {
	position: relative;
}

.badge-padding {
	padding: 1rem;
}

.badge-sm {
	font-size: 0.8rem;
}

.badge-md {
	font-size: 1rem;
}

.badge-lg {
	font-size: 1.6rem;
}

.badge-counter {
	position: absolute;
	font-size: 0.8rem;
	padding: 0.2rem;
	width: 1.2rem;
	height: 1.2rem;
	text-align: center;
}

.badge-top-right {
	top: 0.25rem;
	right: 0.25rem;
}

.badge-clr-blue {
	color: var(--bg-700);
	background-color: var(--blue-700);
}

.badge-clr-red {
	color: var(--bg-700);
	background-color: var(--red-700);
}

.badge-clr-green {
	color: var(--bg-700);
	background-color: var(--green-700);
}

.badge-clr-orange {
	color: var(--bg-700);
	background-color: var(--orange-500);
}

.badge-round {
	border-radius: 50%;
}

.badge-dot-green {
	border-radius: 50%;
	background-color: var(--green-700);
	padding: 0.3125rem;
}

.badge-dot-orange {
	border-radius: 50%;
	padding: 0.3125rem;
	background-color: var(--orange-500);
}

.badge-dot-red {
	border-radius: 50%;
	padding: 0.3125rem;
	background-color: var(--red-700);
}

.badge-white-container {
	position: absolute;
	top: 0px;
	right: 0px;
	background: var(--bg-700);
	border: 0.03125rem solid var(--font-300);
	width: 0.85rem;
	height: 0.85rem;
	padding: 0.125rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.badge-green {
	border: 0.25rem solid var(--green-700);
	border-radius: 50%;
}

.badge-red {
	border: 0.25rem solid var(--red-700);
	border-radius: 50%;
}

.badge-orange {
	border: 0.25rem solid var(--orange-500);
	border-radius: 50%;
}
