.btn {
  outline: 0;
  cursor: pointer;
  border: 0;
  padding: 0.5rem 0.8rem;
  transition: 0.2s all ease;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.btn-outline {
  outline: 0;
  cursor: pointer;
  border: 0;
  padding: 0.5rem 0.8rem;
  border-radius: 0.25rem;
  transition: 0.2s all ease;
  font-size: 1rem;
  background-color: var(--pure-white);
}

.btn:active {
  transform: scale(1.01);
}

.btn:hover,
.btn-outline:hover {
  box-shadow: 0 2px 9px hsla(var(--font-700), 0.25);
}

.btn-rounded {
  border-radius: 0.5rem;
}

.link {
  padding: 0.5rem 0.25rem 0.25rem;
  display: inline-block;
}

.link-primary {
  border-bottom: 2px solid hsl(var(--primary));
}

.link-secondary {
  border-bottom: 2px solid hsl(var(--font-600));
}

.shadow {
  box-shadow: 0 4px 9px hsla(0, 0%, 0%, 0.25);
}

.btn-rounded {
  border-radius: 2rem;
}

.btn-round {
  border-radius: 50%;
}

.btn-primary {
  color: hsl(var(--bg-700));
  background-color: hsl(var(--primary-dark));
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: hsl(var(--primary));
}

.btn-accent {
  background-color: hsla(var(--accent-dark), 1);
  color: #fff;
}

.btn-accent:hover {
  background-color: hsl(var(--accent));
}

.btn-secondary {
  background-color: hsl(var(--bg-700));
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.btn-secondary:hover {
  background-color: hsla(var(--bg-700), 0.9);
}

.btn-success {
  background-color: hsl(var(--green-700));
  color: hsl(var(--bg-700));
  transition: all 0.3s ease-in-out;
}

.btn-success:hover {
  background-color: hsl(var(--green-500));
  color: hsl(var(--bg-700));
  transition: all 0.3s ease-in-out;
}

.btn-danger {
  background-color: hsla(var(--red-500), 0.9);
  color: var(--pure-white);
  border: 1px solid hsl(var(--red-700));
  transition: all 0.1s ease-in-out;
}

.btn-danger:hover {
  background-color: hsl(var(--red-500));
  color: var(--pure-white);
}

.btn-outline-primary {
  border: 1px solid hsl(var(--blue-700));
  background-color: hsl(var(--bg-700));
  color: hsl(var(--blue-700));
}

.btn-outline-primary:hover {
  background-color: hsl(var(--primary-dark));
  color: hsl(var(--bg-700));
}

.btn-outline-secondary {
  border: 1px solid hsl(var(--font-700));
  background-color: hsl(var(--bg-700));
  color: hsl(var(--font-700));
}

.btn-outline-secondary:hover {
  background-color: hsla(var(--bg-700), 0.9);
  color: hsl(var(--font-600));
}

.btn-outline-success {
  border: 1px solid hsl(var(--green-700));
  color: hsl(var(--green-700));
}

.btn-outline-success:hover {
  background-color: hsl(var(--green-700));
  color: hsl(var(--bg-700));
}

.btn-outline-danger {
  border: 1px solid hsl(var(--red-700));
  color: hsl(var(--red-700));
}

.btn-outline-danger:hover {
  background-color: hsl(var(--red-700));
  color: hsl(var(--bg-700));
}

.btn-float {
  border: 0;
  /* padding: 0.5rem 0.6rem; */
  min-width: 2rem;
  min-height: 2.2rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-float-action {
  border-radius: 50%;
  color: hsl(var(--red-300));
  background-color: hsl(var(--red-500));
}
