.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsla(var(--bg-700), 0.8);
  position: relative;
}

.card-w-300 {
  width: 300px;
}

.card-w-250 {
  width: 250px;
}

.card-heading {
  padding-top: 0.5rem;
  font-size: 1.8rem;
}

.card-border {
  border: 1px solid hsla(var(--font-500), 0.2);
}

.card-shadow {
  box-shadow: 0 0.25rem 0.75rem hsla(var(--font-700), 0.25);
}

.card-description {
  padding: 0.5rem;
}

.card-heading-container {
  padding: 0.5rem;
}

.card-text-container {
  padding: 0 0.5rem 0.5rem;
  line-height: 1.3;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(var(--bg-400), 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
}

.out-of-stock-text {
  background-color: hsla(var(--red-500), 0.6);
  padding: 0.5rem;
}

.product-description-container {
  padding: 0.5rem;
}

.h-product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-heading {
  font-size: 1.6rem;
  font-weight: 700;
}

.product-price {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.product-image {
  height: 100%;
}

.selling-price {
  font-size: 1.3rem;
  font-weight: 600;
  color: hsl(var(--font-700));
  letter-spacing: -0.125rem;
}

.original-price {
  font-weight: 600;
  text-decoration: line-through;
  font-size: 1rem;
  color: hsla(var(--font-500), 0.8);
}

.discount-percentage {
  background-color: hsla(var(--green-700), 0.3);
  color: hsla(var(--green-700));
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem;
}

.product-button-container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.card-badge {
  padding: 0.2rem 0.5rem;
  background-color: hsla(var(--primary-light), 0.25);
  position: absolute;
}

.h-card {
  display: grid;
  background-color: hsla(var(--bg-700), 0.8);
  grid-template-columns: repeat(2, 1fr);
}

.card-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 48em) {
  .card-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 60em) {
  .card-row {
    grid-template-columns: repeat(3, 1fr);
  }
}
