.list {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.no-padding {
  padding: 0;
}

.style-none {
  list-style: none;
}

.list-icon {
  font-size: 1.5rem;
  color: hsl(var(--primary));
}

.list-item {
  color: hsl(var(--font-600));
}

.list-item-container {
  background-color: hsla(var(--bg-700), 0.8);
  padding: 1rem;
  border: 1px solid hsla(var(--primary), 0.45);
}

.horizontal {
  display: flex;
  padding: 0;
}

.list-gap-1 {
  gap: 1rem;
}

.list-gap-2 {
  gap: 2rem;
}
