.navbar {
  background-color: hsl(var(--primary-darker));
  padding: 0.5rem;
  color: var(--pure-white);
  z-index: 8;
}

.navbar-simple {
  display: block;
}

.nav-logo {
  font-size: 2.2rem;
  font-weight: 600;
}

.nav-list-simple {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.nav-item {
  padding: 0 0.5rem;
  display: inline-block;
}

.navbar-hamburger {
  display: flex;
  align-items: center;
}

.nav-items {
  margin-left: auto;
}

.hamBtn {
  display: none;
}

.nav-list-hamburger {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navexample-wrapper {
  position: relative;
  overflow: hidden;
}

.navbar-demo-body {
  background-color: hsl(var(--bg-700));
  min-height: 20vh;
}

.navbar-hamburger .nav-list {
  margin-left: auto;
}

.nav-list-hamburger[data-visible-example="true"] {
  transform: translateY(60%);
}

@media (max-width: 35em) {
  .nav-list-hamburger {
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    transform: translateY(-150%);
    transition: transform 350ms ease-out;
    background-color: hsla(var(--primary-darker), 1);
  }

  .hamBtn {
    display: block;
    background: none;
    border: none;
    color: inherit;
    font-size: 1.2rem;
  }
}
